/* Login page */
.login-dtu-logo {
  width: 200px;
}

.login-form {
  margin-top: 40px;
}

.login-form-spinner {
  background-image: url('/static/images/spinner.gif');
  background-position: 15px 12px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

/* CV Page */
.cv-student-action-bar {
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
  padding: 8px 0;
}

.cv-student {
  padding-top: 40px;
  padding-bottom: 40px;
}

.cv-student-courses {
  margin-top: 20px;
}

.cv-student-jobs {
  margin-top: 20px;
}

.cv-student-programme {
  font-size: 22px;
}

.cv-student-name {
  margin-top: 0;
  font-size: 50px;
}

.cv-student-picture-img {
  width: 150px;
}

.cv-student-programme {
  margin-bottom: 0;
}

.cv-student-programmes {
  margin-top: 25px;
  font-size: 1.1em;
  color: #4d4d4d;
}

.cv-student-programme-label {
  color: #5cb85c;
}
