html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Login page */
.login-dtu-logo {
  width: 150px;

}

.login-form, .login-dtu-logo {
  margin-top: 48px;
}

.login-form-spinner {
  background-image: url('/static/images/spinner.gif');
  background-position: 15px 12px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.login {
    margin-top: 48px;
}

/* CV Page */
.cv-student-action-bar {
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
  padding: 8px 0;
}

.cv-student-courses {
  margin-top: 24px;
}

.cv-student-jobs {
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
  padding: 8px 0;
    padding-top: 20px;
}

.cv-student-programme {
  font-size: 24px;
}

.cv-student-name {
  margin-top: 0;
  font-size: 48px;
}

.cv-student-picture-img {
  width: 100px;
    border-radius: 24px;
}

.cv-student-programme {
  margin-bottom: 0;
}

.cv-student-programmes {
  margin-top: 25px;
  font-size: 1.1em;
  color: #fafafa;
}

.cv-student-programme-label {
  color: #004D40;
}

.cv-job-logo {
    display:table;
    font-size: 48px;
    color: #c8c8c8;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron {
    background-color: #009688;
    color: #ffffff;
    margin-bottom: 0px;
}

.btn-danger {
  background-color: #F44336;
    border-color: #ffffff;
}

.btn-login {
    background-color: #009688
    border-color: #ffffff;
}

a:link {
    color: #009688;
}

a:visited {
    color: #004D40;
}

a:hover {
    color: #00796B;
}

a:active {
    color: #004D40;
}

/* Ranked keywords */
.ranked-course-keywords-description {
  padding-bottom: 15px;
}

.ranked-course-keyword {
  padding: 4px 6px 4px 0;
  border-top: 1px solid #cccccc;
}


.ranked-course-keyword-courses {
  font-size: 0.7em;
  color: #cccccc;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer-text {
  margin: 15px 0;
}
