# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
venv/
env/
build/
dist/
*.egg/
*.egg
*.eggs/
*.egg-info/

# Tox
.tox/

# Unit test / coverage reports
.cache
.coverage

*.secret
.idea/
job_searcher/.idea/

# Config
app.cfg
