{% extends "layout.html" %}
{% block body %}
  <div class="cv-student-jumbatron">
    <div class="cv-student container">
      <div class="cv-student-picture col-sm-4 col-md-2">
        <img src="{{ url_for('picture') }}" class="cv-student-picture-img" />
      </div>
      <div class="cv-student-information col-sm-8 col-md-7">
        <h1 class="cv-student-name">{{ user.first_name }} {{ user.last_name }}</h1>
      </div>
      <div class="cv-student-actions col-sm-12 col-md-3">
        <form action="{{ url_for('log_out') }}" method="POST">
          <input type="submit" class="btn btn-danger" value="Log Out" />
        </form>
      </div>
    </div>
  </div>
{% endblock %}
