{% extends "layout.html" %}
{% block body %}
  <div class="cv-student-jumbatron">
    <div class="cv-student container">
      <div class="cv-student-picture col-sm-4 col-md-2">
        <img src="{{ url_for('picture') }}" class="cv-student-picture-img" />
      </div>
      <div class="cv-student-information col-sm-8 col-md-7">
        <h1 class="cv-student-name">{{ user_view.full_name }}</h1>
        <div class="cv-student-programmes">
          <h4 class="cv-student-programme">
            Bachelor (Softwaretek.) <span class="cv-student-programme-label glyphicon glyphicon-ok"></span>
          </h4>
          <h4 class="cv-student-programme">
            Master (Informationtech.) <span class="badge">Current</span>
          </h4>
        </div>
      </div>
      <div class="cv-student-actions col-sm-12 col-md-3">
        <form action="{{ url_for('log_out') }}" method="POST">
          <input type="submit" class="btn btn-danger" value="Log Out" />
        </form>
      </div>
    </div>
  </div>
  <div class="cv-student-courses container">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Bachelor (Softwaretek.)</div>

        <table class="table table-consended">
          {% for exam_result in user_view.exam_results %}
          <tr>
            <td><a href="{{ exam_result.url }}" target="_blank">{{ exam_result.course_title }}</a></td>
            <td>{{ exam_result.ects_points }}</td>
            <td>{{ exam_result.grade }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
